name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]
    paths:
      - "frontend/**"
      - "backend/**"
      - ".github/workflows/docker-build-push.yml"
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: frontend
            context: ./frontend
            dockerfile: ./docker_files/Dockerfile.frontend
            image: ${{ secrets.DOCKERHUB_USERNAME }}/car-frontend

          - name: backend
            context: ./backend
            dockerfile: ./docker_files/Dockerfile.backend
            image: ${{ secrets.DOCKERHUB_USERNAME }}/car-backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker images
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.context }}
          file: ${{ matrix.dockerfile }}
          push: true
          tags: |
            ${{ matrix.image }}:latest
            ${{ matrix.image }}:${{ github.sha }}
